 @media (min-width: 768px) and (max-width: 1024px) {
     .text-nav {
         display: none;
     }
     .text-banner {
         position: absolute;
         text-align: center;
         top: 10%;
         left: 30%;
         color: #ecf0f1;
         font-size: 20px;
     }
     #nav-bar a:link,
     a:visited {
         padding: 10px;
         margin-right: 1rem;
         padding-bottom: 30px;
     }
     #nav-bar {
         margin-top: 1rem;
     }
     .container {
         font-size: 16px;
     }
     #personal-info {
         font-size: 14px;
         padding-right: 40px;
     }
     #target {
         font-size: 16px;
     }
     .cer-content {
         Flex-direction: column;
         gap: 30px;
     }
     .project-title {
         Font-size: 14px;
     }
     .project-border {
         font-size: 10px;
         padding: 10px 4px !important;
     }
     .project-border span {
         margin-right: 5px !important;
     }
     td {
         font-size: 10px;
     }
     tr td:first-child {
         width: 25%;
     }
 }